@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
     --foreground-rgb: 0, 0, 0;
     --background-start-rgb: 214, 219, 220;
     --background-end-rgb: 255, 255, 255;
}

body {
     @apply bg-black text-white;
}

@layer components {
     .scrollbarstyle {
          @apply scrollbar-thin scrollbar-track-[#1b1b1b] scrollbar-thumb-[#696969] scrollbar-thumb-rounded-full;
     }
}
